<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.sap.furcas.metamodel.FURCAS.presentation.FURCASModelWizardID"
            name="%_UI_FURCASModelWizard_label"
            class="com.sap.furcas.metamodel.FURCAS.presentation.FURCASModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FURCASModelFile.gif">
         <description>%_UI_FURCASModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.sap.furcas.metamodel.FURCAS.presentation.FURCASEditorID"
            name="%_UI_FURCASEditor_label"
            icon="icons/full/obj16/FURCASModelFile.gif"
            extensions="furcas"
            class="com.sap.furcas.metamodel.FURCAS.presentation.FURCASEditor"
            contributorClass="com.sap.furcas.metamodel.FURCAS.presentation.FURCASActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.sap.furcas.metamodel.FURCAS.TCS.presentation.TCSModelWizardID"
            name="%_UI_TCSModelWizard_label"
            class="com.sap.furcas.metamodel.FURCAS.TCS.presentation.TCSModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TCSModelFile.gif">
         <description>%_UI_TCSModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.sap.furcas.metamodel.FURCAS.TCS.presentation.TCSEditorID"
            name="%_UI_TCSEditor_label"
            icon="icons/full/obj16/TCSModelFile.gif"
            extensions="tcs"
            class="com.sap.furcas.metamodel.FURCAS.TCS.presentation.TCSEditor"
            contributorClass="com.sap.furcas.metamodel.FURCAS.TCS.presentation.TCSActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.sap.furcas.metamodel.FURCAS.textblocks.presentation.TextblocksModelWizardID"
            name="%_UI_TextblocksModelWizard_label"
            class="com.sap.furcas.metamodel.FURCAS.textblocks.presentation.TextblocksModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TextblocksModelFile.gif">
         <description>%_UI_TextblocksModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.sap.furcas.metamodel.FURCAS.textblocks.presentation.TextblocksEditorID"
            name="%_UI_TextblocksEditor_label"
            icon="icons/full/obj16/TextblocksModelFile.gif"
            extensions="textblocks"
            class="com.sap.furcas.metamodel.FURCAS.textblocks.presentation.TextblocksEditor"
            contributorClass="com.sap.furcas.metamodel.FURCAS.textblocks.presentation.TextblocksActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.sap.furcas.metamodel.FURCAS.textblockdefinition.presentation.TextblockdefinitionModelWizardID"
            name="%_UI_TextblockdefinitionModelWizard_label"
            class="com.sap.furcas.metamodel.FURCAS.textblockdefinition.presentation.TextblockdefinitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TextblockdefinitionModelFile.gif">
         <description>%_UI_TextblockdefinitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.sap.furcas.metamodel.FURCAS.textblockdefinition.presentation.TextblockdefinitionEditorID"
            name="%_UI_TextblockdefinitionEditor_label"
            icon="icons/full/obj16/TextblockdefinitionModelFile.gif"
            extensions="textblockdefinition"
            class="com.sap.furcas.metamodel.FURCAS.textblockdefinition.presentation.TextblockdefinitionEditor"
            contributorClass="com.sap.furcas.metamodel.FURCAS.textblockdefinition.presentation.TextblockdefinitionActionBarContributor">
      </editor>
   </extension>

</plugin>
