<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="C:\_D\NW_DevStudio\moin_stable_2009_01_22\eclipse\ws_rt_dev"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/moin.test__com.sap.tc.moin.testsuite.ide.epi_moin_dev/_com.sap.tc.moin.testcases.fct_nwdi_ide_libm_api/com/sap/tc/moin/facility/primary/diservice/ide/test/oldsc2/TestContentSelectionRegistry.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sap.tc.moin.facility.primary.diservice.ide.test.oldsc2.TestContentSelectionRegistry"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="moin.test__com.sap.tc.moin.testsuite.ide.epi_moin_dev"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dmoin.test.configuration=eclipseRuntimeTestConfiguration.properties&#13;&#10;-DMOINDiServiceOptimisticLockingOff=false&#13;&#10;-DMOINDiServicePessimisticLockingOn=false&#13;&#10;-DMOINDiServiceUiThreadCheckOff=false&#13;&#10;-DMOINDiServiceDcSyncEventHandlingOff=false&#13;&#10;-DMOINDiServiceContentSelectionRegistryOff=false&#13;&#10;-DMOINDiServiceContentSelectionRegistryOn=true&#13;&#10;-Dcom.sap.tc.moin.testreset=false&#13;&#10;-Dcom.sap.tc.moin.stagetest=ISOLATED_off&#13;&#10;-Dcom.sap.tc.moin.stagetest=OCCASIONAL_off&#13;&#10;-Dcom.sap.tc.moin.stagetest=ALL&#13;&#10;-XX:+CMSPermGenSweepingEnabled -XX:MaxPermSize=256m&#13;&#10;-Xmx768m&#13;&#10;-Dcom.sun.management.jmxremote&#13;&#10;-Dcom.sap.tc.moin.checkLockHolding=true&#13;&#10;-ea"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="com.sap.netweaver.developerstudio.studio"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="templateConfig" value="${target_home}\configuration\config.ini"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="false"/>
<booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
