<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006, 2008 IBM Corporation, Zeligsoft Inc., and others.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
   IBM - initial API and implementation
   Zeligsoft - Bugs 231435, 248869

 $Id: plugin.xml,v 1.4 2008/09/28 17:34:53 cdamus Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/UML" 
       class = "org.eclipse.ocl.uml.UMLPackage"
       genModel = "model/OCLUML.genmodel" /> 
  </extension>

  <extension point="org.eclipse.ocl.environments">
    <environmentFactory
        class="org.eclipse.ocl.uml.UMLEnvironmentFactory">
      <package nsURI="http://www.eclipse.org/uml2/2.1.0/UML"/>
      <package nsURI="http://www.eclipse.org/ocl/1.1.0/UML"/>
    </environmentFactory>
  </extension>
  
  <extension
        point="org.eclipse.emf.ecore.uri_mapping">
     <mapping
           source="http://www.eclipse.org/ocl/1.1.0/oclstdlib.uml"
           target="platform:/plugin/org.eclipse.ocl.uml/model/oclstdlib.uml">
     </mapping>
  </extension>

  <extension
        point="org.eclipse.emf.ecore.content_parser">
     <parser
           contentTypeIdentifier="org.eclipse.ocl.uml"
           class="org.eclipse.uml2.uml.internal.resource.UMLResourceFactoryImpl" />
  </extension>

  <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="uml,ocl"
           id="org.eclipse.ocl.uml"
           name="%contentType"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespacePattern"
                 value="http://www\.eclipse\.org/ocl/1\.1\.0/UML" />
           <parameter
                 name="kind"
                 value="xmi" />
        </describer>
     </content-type>
  </extension>
</plugin>
