<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008/01/16 16:04:54 cdamus Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/UML" 
       class = "org.eclipse.ocl.uml.UMLPackage"
       genModel = "model/OCLUML.genmodel" /> 
  </extension>

  <extension point="org.eclipse.ocl.environments">
    <environmentFactory
        class="org.eclipse.ocl.uml.UMLEnvironmentFactory">
      <package nsURI="http://www.eclipse.org/uml2/2.1.0/UML"/>
      <package nsURI="http://www.eclipse.org/ocl/1.1.0/UML"/>
    </environmentFactory>
  </extension>
  
  <extension
        point="org.eclipse.emf.ecore.uri_mapping">
     <mapping
           source="http://www.eclipse.org/ocl/1.1.0/oclstdlib.uml"
           target="platform:/plugin/org.eclipse.ocl.uml/model/oclstdlib.uml">
     </mapping>
  </extension>

</plugin>
