<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="com.sap.ide.junit.insideTests">
      <testsuite
            class="com.sap.tc.webdynpro.metamodel.test.WDTestSuite"
            name="Web Dynpro Metamodel Tests"/>
   </extension>

</plugin>
                             