<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://de.hpi.sam.bp2009.benchframework.simpleResultProcessor"
            class="de.hpi.sam.bp2009.benchframework.simpleResultProcessor.SimpleResultProcessorPackage"
            genModel="model/simpleResultProcessor.genmodel"/>
   </extension>
   <extension
         point="de.hpi.sam.bp2009.benchframework.resultExtensionPointID">
      <result
            resultClass="de.hpi.sam.bp2009.benchframework.simpleResultProcessor.impl.SimpleResultProcessorImpl">
      </result>
   </extension>

</plugin>
