<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.query2.stringsyntax.tools.ui.emfQueryCategory"
            class="org.eclipse.emf.query2.internal.ui.QueryResultView"
            icon="icons/file.gif"
            id="org.eclipse.emf.query2.syntax.tools.ui.queryresultview"
            name="%Query2StringSyntaxToolsUI_QueryResultView"
            restorable="true">
      </view>
       <view
             category="org.eclipse.emf.query2.stringsyntax.tools.ui.emfQueryCategory"
             class="org.eclipse.emf.query2.internal.ui.QueryView"
             icon="icons/magnifying-glass.gif"
             id="org.eclipse.emf.query2.syntax.tools.ui.queryview"
             name="%Query2StringSyntaxToolsUI_QueryView"
             restorable="true">
      </view>
       <category
             id="org.eclipse.emf.query2.stringsyntax.tools.ui.emfQueryCategory"
             name="%Query2StringSyntaxToolsUI_Query2Category">
       </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.query2.syntax.tools.ui.popup.openInEditor"
            name="%Query2StringSyntaxToolsUI_OpenInEditorCommand">
      </command>
      <command
            id="org.eclipse.emf.query2.syntax.tools.ui.refreshQueryView"
            name="%Query2StringSyntaxToolsUI_RefreshQueryCommand">
         <commandParameter
               id="refreshDirty"
               name="%Query2StringSyntaxToolsUI_RefreshDirtyCommandParam"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.eclipse.emf.query2.syntax.tools.ui.runQuery"
            name="%Query2StringSyntaxToolsUI_RunQueryCommand">
      </command>
      <command
            id="org.eclipse.emf.query2.syntax.tools.ui.runQueryWithDirtyIndex"
            name="%Query2StringSyntaxToolsUI_RunQueryWithDirtyStateCommand">
            <commandParameter
                  id="runDirty"
                  name="%Query2StringSyntaxToolsUI_RunDirtyCommandParam"
                  optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.query2.internal.ui.handlers.OpenQueryInEditor"
            commandId="org.eclipse.emf.query2.syntax.tools.ui.popup.openInEditor">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.query2.internal.ui.QueryView$QueryItem">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.query2.internal.ui.handlers.RefreshQueryView"
            commandId="org.eclipse.emf.query2.syntax.tools.ui.refreshQueryView">
      </handler>
      <handler
            class="org.eclipse.emf.query2.internal.ui.handlers.RunQuery"
            commandId="org.eclipse.emf.query2.syntax.tools.ui.runQuery">
         <activeWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.query2.internal.ui.QueryView$QueryItem">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </or>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.query2.internal.ui.handlers.RunQuery"
            commandId="org.eclipse.emf.query2.syntax.tools.ui.runQueryWithDirtyIndex">
         <activeWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.query2.internal.ui.QueryView$QueryItem">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </or>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.query2.syntax.tools.ui.queryview">
         <command
               commandId="org.eclipse.emf.query2.syntax.tools.ui.popup.openInEditor"
               icon="icons/file.gif"
               label="%Query2StringSyntaxToolsUI_OpenInEditorLabel"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.query2.syntax.tools.ui.runQuery"
               icon="icons/run.gif"
               label="%Query2StringSyntaxToolsUI_RunQueryLabel"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.query2.syntax.tools.ui.runQueryWithDirtyIndex"
               icon="icons/runDirty.gif"
               label="%Query2StringSyntaxToolsUI_RunOnDirtyStateLabel"
               style="push">
            <parameter
                  name="runDirty"
                  value="true">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.emf.query2.syntax.tools.ui.queryview">
         <command
               commandId="org.eclipse.emf.query2.syntax.tools.ui.refreshQueryView"
               icon="icons/refresh.gif"
               label="%Query2StringSyntaxToolsUI_RefreshLabel"
               style="push">
            <parameter
                  name="refreshDirty"
                  value="false">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.emf.query2.syntax.tools.ui.refreshQueryView"
               icon="icons/refreshDirty.gif"
               label="%Query2StringSyntaxToolsUI_RefreshDirtyLabel"
               style="push"
               tooltip="%Query2StringSyntaxToolsUI_RefreshDirtyTooltip">
            <parameter
                  name="refreshDirty"
                  value="true">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#TextEditorContext?after=group.open">
         <command
               commandId="org.eclipse.emf.query2.syntax.tools.ui.runQuery"
               icon="icons/run.gif"
               label="%Query2StringSyntaxToolsUI_RunQueryCommandLabel"
               style="push"
               tooltip="%Query2StringSyntaxToolsUI_ValidationTooltip">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.emf.query2.syntax.Query.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.emf.query2.internal.ui.QueryPerspectiveFactory"
            icon="icons/magnifying-glass.gif"
            id="org.eclipse.emf.query2.syntax.tools.ui.queryperspective"
            name="%Query2StringSyntaxToolsUI_QueryPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.emf.query2.syntax.tools.ui.queryperspective">
         <view
               id="org.eclipse.emf.query2.syntax.tools.ui.queryview"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.emf.query2.syntax.tools.ui.queryresultview"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <viewShortcut
               id="org.eclipse.emf.query2.syntax.tools.ui.queryview">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.emf.query2.syntax.tools.ui.queryresultview">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.emf.query2.syntax.tools.ui.runQuery"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6">
      </key>
      <key
            commandId="org.eclipse.emf.query2.syntax.tools.ui.runQueryWithDirtyIndex"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F5">
         <parameter
               id="runDirty"
               value="true">
         </parameter>
      </key>
      
   </extension>
 

</plugin>
