<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sap.coghead.editor.CollectionEditor"
            extensions="act"
            id="com.sap.coghead.editor.CollectionEditor"
            name="Collection Editor">
      </editor>
   </extension>
   <extension
         point="com.sap.ide.treeprovider.rootNodeDefinition">
        <rootNodeProvider classname="com.sap.coghead.tree.CogheadRootNodeProvider" />
   </extension>
   <extension
         point="com.sap.ide.treeprovider.textLabelProvider">
        <textLabelProvider classname="com.sap.coghead.tree.CogheadTreeLabelProvider" />
   </extension>
   <extension
         point="com.sap.ide.treeprovider.imageProvider">
        <imageProvider classname="com.sap.coghead.tree.CogheadTreeImageProvider" />
   </extension>
   <extension
         point="com.sap.tc.moin.incubation.contentprovider.Content">
      <ContentDefinition>
         <Path
               Value="mappings"
               Versioned="true">
         </Path>
      </ContentDefinition>
   </extension>
   <extension
         point="com.sap.mi.fwk.ui.modelObjectEditorAssociations">
      <association
            canHandleChildren="true"
            default="true"
            editorId="com.sap.coghead.editor.CollectionEditor"
            inputFactory="com.sap.ide.cts.editor.GrammarBasedModelEditorInputFactory"
            objectClass="coghead.Collection">
      </association>
   </extension>
   <extension
         point="com.sap.mi.fwk.ui.modelObjectEditorAssociations">
      <association
            canHandleChildren="false"
            default="true"
            editorId="com.sap.coghead.editor.CollectionLevelPermissionEditor"
            inputFactory="com.sap.ide.cts.editor.GrammarBasedModelEditorInputFactory"
            objectClass="coghead.CollectionLevelPermission">
      </association>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sap.coghead.editor.CollectionLevelPermissionEditor"
            extensions="act"
            id="com.sap.coghead.editor.CollectionLevelPermissionEditor"
            name="CollectionLevelPermission Editor">
      </editor>
   </extension>
</plugin>
