<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<extension
      id="wizard1"
      name="Testrunner"
      point="org.eclipse.ui.newWizards">
   <category
         name="Test Framework"
         id="wizard.category2">
   </category>
   <wizard
         name="Your Testrunner"
         icon="icons/wizard.gif"
         category="wizard.category2"
         class="de.hpi.sam.bp2009.benchframework.testrunWizard.TestrunWizard"
         id="wizard.wizard2">
      <description>
      	Pick the components to use.
      </description>
   </wizard>
</extension>

<extension
      point="de.hpi.sam.bp2009.benchframework.userInterfaceExtensionPointID">
   <userInterface
         userInterfaceClass="de.hpi.sam.bp2009.benchframework.testrunWizard.TestrunWizard">
   </userInterface>
</extension>


</plugin>
