<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="de.hpi.sam.bp2009.benchframework.oclToMqlOperator.OcltoMqlOperatorPackage"
            uri="http://de.hpi.sam.bp2009.benchframework.oclToMqlOperator"
            genModel="model/oclToMqlOperator.genmodel"/>
   </extension>
   <extension
         point="de.hpi.sam.bp2009.benchframework.operatorExtensionPointID">
      <operator
            operatorClass="de.hpi.sam.bp2009.benchframework.oclToMqlOperator.impl.OclToMqlOperatorImpl">
      </operator>
   </extension>

</plugin>
