<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.3 2008/02/21 14:43:00 cdamus Exp $
-->

<plugin>
   <extension-point id="environments" name="%oclenv.point.name" schema="schema/environments.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/OCL/Types" 
       class = "org.eclipse.ocl.types.TypesPackage"
       genModel = "model/OCL.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/OCL/Expressions" 
       class = "org.eclipse.ocl.expressions.ExpressionsPackage"
       genModel = "model/OCL.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/OCL/Utilities" 
       class = "org.eclipse.ocl.utilities.UtilitiesPackage"
       genModel = "model/OCL.genmodel" /> 
  </extension>

</plugin>
