<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="imageProviders" name="%_extension_point_image_providers" schema="schema/imageProviders.exsd"/>
   <extension-point id="diagramTypeProviders" name="%_extension_point_diagram_type_providers" schema="schema/diagramTypeProviders.exsd"/>
   <extension-point id="diagramTypes" name="%_extension_point_diagram_types" schema="schema/diagramTypes.exsd"/>

   <extension
         point="org.eclipse.ui.views">
          <view
                category="org.eclipse.ui"
                class="com.sap.mi.gfw.eclipse.internal.editor.ThumbNailView"
                icon="icons/outline/thumbnail.gif"
                id="com.sap.mi.gfw.eclipse.internal.editor.thumbnailview"
                name="%_thumbnail_view"/>
            <category
                  id="com.sap.mi.gfw.eclipse.GFW_Category"
                  name="%_thumbnail_view_category"/>      
   </extension>

   <extension
         point="org.eclipse.ui.editors">
 	  <editor
          class="com.sap.mi.gfw.eclipse.internal.editor.DiagramEditor"
          contributorClass="com.sap.mi.gfw.eclipse.internal.editor.GraphicsActionBarContributor"
          default="true"
          extensions="diagram"
          icon="icons/lazy.gif"
          id="com.sap.mi.gfw.eclipse.internal.editor.DiagramEditor"
          matchingStrategy="com.sap.mi.gfw.eclipse.internal.editor.DiagramEditorFactory$DiagramEditorMatchingStrategy"
          name="%_diagram_editor_name">
       <contentTypeBinding
             contentTypeId="com.sap.mi.gfw.content.diagram">
       </contentTypeBinding>
      </editor>
   </extension>

   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="com.sap.mi.fwk.content.model"
            file-extensions="diagram"
            id="com.sap.mi.gfw.content.diagram"
            name="%_contenttype_diagram">
      </content-type>
   </extension>

   <extension point="org.eclipse.ui.elementFactories" id="com.sap.mi.gfw.DiagramEditorFactory" name="%_diagram_editor_factory">
      <factory class="com.sap.mi.gfw.eclipse.internal.editor.DiagramEditorFactory" id="com.sap.mi.gfw.eclipse.internal.editor.DiagramEditorFactory">
      </factory>
   </extension>
   
   <extension
         point="com.sap.mi.fwk.ui.modelObjectEditorAssociations">
      <association
            objectClass="com.sap.mi.gfw.mm.pictograms.Diagram"
            editorId="com.sap.mi.gfw.eclipse.internal.editor.DiagramEditor"
            inputFactory="com.sap.mi.gfw.eclipse.internal.editor.DiagramEditorFactory"
            default="true"
            canHandleChildren="true">
      </association>
   </extension>
   <extension
         point="com.sap.mi.gfw.eclipse.imageProviders">
      <imageProvider
            class="com.sap.mi.gfw.eclipse.platform.PlatformImageProvider"
            id="com.sap.mi.gfw.eclipse.platform.PlatformImageProvider">
      </imageProvider>
   </extension>
</plugin>
