<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!-- ======================================================================================= -->
<!-- Extension Points               	                                                     -->
<!-- ======================================================================================= -->
   <extension-point id="uiHook" name="%extpoint.name.uiHook" schema="schema/uiHook.exsd"/>
   <extension-point id="categoryprovider" name="%extpoint.name.categoryprovider" schema="schema/categoryprovider.exsd"/>

<!-- ======================================================================================= -->
<!-- Natures			               	                                                     -->
<!-- ======================================================================================= -->
	<extension id="com.sap.mi.fwk.dcfwk.MoinNature" name="%moin.nature.name" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="com.sap.mi.fwk.internal.MoinNature"/>
		</runtime>
	</extension>
    
<!-- ======================================================================================= -->
<!-- Property Testers                                                                        -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sap.mi.fwk.internal.testers.MoinObjectPropertyTester"
            id="com.sap.mi.fwk.properties.moin.refBaseObjectTester"
            namespace="com.sap.mi.fwk.properties.moin"
            properties="immediatePackage,jmiClass"
            type="com.sap.tc.moin.repository.mmi.reflect.RefBaseObject"/>
      <propertyTester
            class="com.sap.mi.fwk.internal.testers.MoinObjectPropertyTester"
            id="com.sap.mi.fwk.properties.moin.refObjectTester"
            namespace="com.sap.mi.fwk.properties.moin"
            properties="mofClass"
            type="com.sap.tc.moin.repository.mmi.reflect.RefObject"/>
      <propertyTester
            class="com.sap.mi.fwk.internal.testers.MoinObjectPropertyTester"
            id="com.sap.mi.fwk.properties.moin.refFeaturedTester"
            namespace="com.sap.mi.fwk.properties.moin"
            properties="feature"
            type="com.sap.tc.moin.repository.mmi.reflect.RefFeatured"/>
   </extension>
<!-- ======================================================================================= -->
<!-- Expression Definitions                                                                  -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.sap.mi.fwk.expressions.moinProjects">
            <iterate
                  ifEmpty="false"
                  operator="and">
	            <adapt
	                  type="org.eclipse.core.resources.IProject">
	               <test
	                     property="org.eclipse.core.resources.projectNature"
	                     value="com.sap.mi.fwk.dcfwk.MoinNature">
	               </test>
	            </adapt>
          </iterate>
      </definition>
   </extension>

<!-- ======================================================================================= -->
<!-- Markers     			                                                                 -->
<!-- ======================================================================================= -->
   <extension
         id="oclproblemmarker"
         name="%marker.ocl.constraint.violation"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="consistencyviolationmarker"
         name="%marker.model.consistency.violation"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
      <attribute
            name="violationType">
      </attribute>
   </extension>

<!-- ======================================================================================= -->
<!-- Builders  			                                                                     -->
<!-- ======================================================================================= -->
   <extension id="MoinConstraintChecker" name="%builder.ocl.constraint.validator" 
   			point="org.eclipse.core.resources.builders">
     <builder >
	   <run class="com.sap.mi.fwk.MoinConstraintChecker" /> 
     </builder>
  </extension>
  
<!-- ======================================================================================= -->
<!-- Tracing  			                                                                     -->
<!-- ======================================================================================= -->
   <!-- Trace enabling -->
   <!--<extension point="com.tssap.tools.ui.traceParticipant">
      <traceParticipant file="traceParticipant.properties"/>
   </extension>-->

<!-- ======================================================================================= -->
<!-- Content Types		                                                                     -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            id="com.sap.mi.fwk.content.model"
            name="%contenttype.name.model"
            default-charset="UTF-8">
      </content-type>
   </extension>

</plugin>
