<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2009/10/01 15:25:47 jkohnlein Exp $
-->

<plugin>
   <extension-point id="queryExecutorStrategy" name="Strategy for QueryExecutor" schema="schema/queryExecutorStrategy.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emfindex/1.0"
            class="org.eclipse.emf.index.ecore.emfindex.EmfindexPackage"
            genModel="model/EmfIndex.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.emfindex.reference.queryExecutorStrategy">
      <strategy
            class="org.eclipse.emf.emfindex.query.EObjectQueryExecutorStrategyImpl"
            priority="0">
      </strategy>
      <strategy
            class="org.eclipse.emf.emfindex.query.EReferenceQueryExecutorStrategyImpl"
            priority="0">
      </strategy>
      <strategy
            class="org.eclipse.emf.emfindex.query.ResourceQueryExecutorStrategyImpl"
            priority="0">
      </strategy>
      <strategy
            class="org.eclipse.emf.emfindex.query.ContainerQueryExecutorStrategyImpl"
            priority="0">
      </strategy>
   </extension>
</plugin>
