<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="syntaxBuilder"
         name="Syntax Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.sap.mi.textual.epi.builder.SyntaxBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="syntaxGenerationNature"
         name="%NatureName"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.sap.mi.textual.epi.builder.SyntaxGenerationNature">
         </run>
      </runtime>
      <builder
            id="com.sap.mi.textual.epi.syntaxBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.sap.mi.textual.epi.contribution1">
         <menu
               id="dslnatureMenu"
               label="%DSLPopupMenuLabel"
               path="additions">
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="com.sap.mi.textual.epi.builder.ToggleNatureAction"
               enablesFor="+"
               id="com.sap.mi.textual.epi.action1"
               label="%ToggleNatureActionLabel"
               menubarPath="dslnatureMenu/separator">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="dslProblem"
         name="%DslProblemMarkerName"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.sap.mi.textual.epi.ui.WorkbenchPropertyPage"
            id="TextualSyntaxGeneratorPlugin.MoinMMConf"
            name="%PropertyPageName">
         <filter
               name="nature"
               value="com.sap.mi.textual.epi.syntaxGenerationNature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.sap.mi.textual.epi.wizard.category"
            name="FURCAS DSL Engineering">
      </category>
      <wizard
            category="com.sap.mi.textual.epi.wizard.category"
            class="com.sap.mi.textual.epi.projectwizard.TCSProjectsWizard"
            id="com.sap.mi.textual.epi.projectwizard"
            name="FURCAS DSL Project"
            project="true">
      </wizard>
   </extension>

</plugin>
