<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://de.hpi.sam.bp2009.benchframework.loopOperator"
            class="de.hpi.sam.bp2009.benchframework.loopOperator.LoopOperatorPackage"
            genModel="model/loopOperator.genmodel"/>
   </extension>
   <extension point="de.hpi.sam.bp2009.benchframework.operatorExtensionPointID">
      <operator
            name="Loop Start"
            operatorClass="de.hpi.sam.bp2009.benchframework.loopOperator.impl.LoopOperatorStartImpl"></operator>
   </extension>

</plugin>
