<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="FURCAS Refactoring Actions"
            id="com.sap.ide.refactoring.category"
            name="Refactor"/>
      <command
            categoryId="com.sap.ide.refactoring.category"
            description="Rename a Model Element"
            id="com.sap.ide.refactoring.rename"
            name="Rename">
      </command>
   </extension>

</plugin>
