<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.core.resources.builders"
         id="org.eclipse.ocl.editor.ocl.ui.OCLBuilder"
         name="OCL Project Builder">
      <builder hasNature="true">
         <run class="org.eclipse.ocl.examples.editor.ocl.ui.OCLBuilder"/>
      </builder>
   </extension>
   
   <extension point="org.eclipse.core.resources.markers"
         id="org.eclipse.ocl.editor.ocl.ui.oclProblem"
         name="OCL Problem">
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>
   
   <extension point="org.eclipse.core.resources.natures"
         id="org.eclipse.ocl.editor.ocl.ui.OCLNature"
         name="OCL Project Nature">
      <runtime>
         <run class="org.eclipse.ocl.examples.editor.ocl.ui.OCLNature"/>
      </runtime>
      <builder id="org.eclipse.ocl.editor.ocl.ui.OCLBuilder"/>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution id="org.eclipse.ocl.editor.ocl.ui.contribution1"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            nameFilter="*">
         <action id="org.eclipse.ocl.editor.ocl.ui.addRemoveNatureAction"
               label="Add OCL Project Nature"
               class="org.eclipse.ocl.examples.editor.ocl.ui.OCLToggleNatureAction"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               enablesFor="+"/>
         <visibility>
            <not>
               <objectState name="projectNature"
                     value="org.eclipse.ocl.editor.ocl.ui.OCLNature"/>
            </not>
         </visibility>
      </objectContribution>
      
      <objectContribution id="org.eclipse.ocl.editor.ocl.ui.contribution2"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            nameFilter="*">
         <action id="org.eclipse.ocl.editor.ocl.ui.addRemoveNatureAction"
               label="Remove OCL Project Nature"
               class="org.eclipse.ocl.examples.editor.ocl.ui.OCLToggleNatureAction"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               enablesFor="+"/>
         <visibility>
            <objectState name="projectNature"
                  value="org.eclipse.ocl.editor.ocl.ui.OCLNature"/>
         </visibility>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor id="org.eclipse.ocl.editor.ocl.ui.OCLEditor"
            class="org.eclipse.ocl.examples.editor.ocl.ui.OCLTextEditor"
            contributorClass="org.eclipse.ocl.examples.editor.ui.imp.CommonTextEditorActionContributor"
            default="true"
            extensions="ocl"
            icon="icons/OCLModelFile.gif"        
            name="OCL Document Editor"/>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <wizard id="org.eclipse.ocl.editor.ocl.ui.OCLNewWizard"
            name="OCL Text File"
            icon="icons/OCLModelFile.gif"
            category="org.eclipse.ocl.editor.ui"
            class="org.eclipse.ocl.examples.editor.ocl.ui.OCLNewWizard"/>
   </extension>
   
   <extension point="org.eclipse.imp.runtime.languageDescription">
      <language language="ocl" extensions="ocl" description="OCL"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.parser" name="OCL Parser Wrapper">
      <parser language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLParseController"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLTokenColorer"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLFoldingUpdater"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLTreeModelBuilder"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLLabelProvider"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLReferenceResolver"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLDocumentationProvider"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.hoverHelper" name="OCL Hover Helper">
      <hoverHelper language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLHoverHelper"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.contentProposer">
      <proposer language="ocl" class="org.eclipse.ocl.examples.editor.ocl.ui.imp.OCLContentProposer"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.editorActionContributions">
      <editorActionContributor language="ocl" class="org.eclipse.ocl.examples.editor.ui.actions.CommonActionContributor"/>
   </extension>

</plugin>
