<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="rootNodeDefinition" name="Root Node Definition for Model Tree" schema="schema/rootNodeDefinition.exsd"/>
   <extension-point id="textLabelProvider" name="Text label provider for tree nodes" schema="schema/textLabelProvider.exsd"/>
   <extension-point id="imageProvider" name="Image provider for tree nodes" schema="schema/imageProvider.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.sap.ide.treeprovider.navigatorContent.co">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.sap.ide.treeprovider.internal.explorer.ComponentContentProvider"
            icon="resources/icons/tree/containment/ATN_ModelRoot.gif"
            id="com.sap.ide.treeprovider.navigatorContent.co"
            labelProvider="com.sap.ide.treeprovider.internal.explorer.TreeLabelProvider"
            name="%navigatorContent.name"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.sap.mi.fwk.dcfwk.MoinNature">
                  </test>
               </and>
               <instanceof
                     value="com.sap.ide.treeprovider.INodeExplorer">
               </instanceof>
            </or>
         </triggerPoints>
         <!--dropAssistant
               class="com.sap.mi.fwk.ui.tree.dnd.TreeNodeNavigatorDropAssistant"
               id="com.sap.demo.sample.components.TreeNodeDropAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="com.sap.ide.treeprovider.internal.explorer.nodes.NodeComponent">
                  </instanceof>
                  <instanceof
                        value="com.sap.ide.treeprovider.internal.explorer.nodes.NodeProvidedInterfaces">
                  </instanceof>
                  <instanceof
                        value="com.sap.ide.treeprovider.internal.explorer.nodes.NodeRequiredInterfaces">
                  </instanceof>
                  <instanceof
                        value="com.sap.ide.treeprovider.internal.explorer.nodes.RootNodeComponent">
                  </instanceof>
               </or>
            </possibleDropTargets>
         </dropAssistant-->
         <actionProvider
               class="com.sap.mi.fwk.ui.actions.OpenEditorActionProvider">
            <enablement>
               <or>
                  <instanceof
                        value="com.sap.ide.treeprovider.INodeExplorer">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <possibleChildren>
            <instanceof
                  value="com.sap.ide.treeprovider.INodeExplorer">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="com.sap.mi.fwk.ui.actions.OpenWithEditorActionProvider">
            <enablement>
               <or>
                  <instanceof
                        value="com.sap.ide.treeprovider.INodeExplorer">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
         	class="com.sap.ide.treeprovider.action.ActionProviderContainmentTree">
            <enablement>
               <or>
                  <instanceof
                        value="com.sap.ide.treeprovider.INodeExplorer">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <commonSorter
               class="com.sap.ide.treeprovider.internal.explorer.ModelElementViewerSorter"
               id="com.sap.ide.treeprovider.internal.explorer.ModelElementViewerSorter">
            <parentExpression>
               <instanceof
                     value="com.sap.ide.treeprovider.INodeExplorer">
               </instanceof>
            </parentExpression>
         </commonSorter>
         <dropAssistant
               class="com.sap.mi.fwk.ui.tree.dnd.TreeNodeNavigatorDropAssistant"
               id="com.sap.ide.treeprovider.dropAssistant">
            <possibleDropTargets></possibleDropTargets>
         </dropAssistant>
         <!--commonSorter
               class="com.sap.ide.treeprovider.internal.explorer.ComponentContentSorter">
         </commonSorter-->
      </navigatorContent>
   </extension>

</plugin>
