<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="queryIndexBuilder"
         name="%Query2IndexUI_QueryIndexBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.emf.query.index.internal.ui.builder.QueryIndexBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="queryIndexNature"
         name="%Query2IndexUI_QueryIndexNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.emf.query.index.internal.ui.builder.QueryIndexNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.emf.query2.index.ui.queryIndexBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.eclipse.emf.query.index.ui.contribution1">
         <action
               label="%Query2IndexUI_AddOrRemoveQueryIndexNatureAction"
               class="org.eclipse.emf.query.index.internal.ui.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.eclipse.emf.query.index.ui.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.emf.query.index.ui.internal.IndexingIntitializer"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.query2.stringsyntax.tools.ui.emfQueryCategory"
            name="EMF Query 2">
      </category>
      <view
            category="org.eclipse.emf.query2.stringsyntax.tools.ui.emfQueryCategory"
            class="org.eclipse.emf.query.index.ui.internal.view.IndexView"
            icon="icons/IndexView.gif"
            id="org.eclipse.emf.query2.index.ui.indexview"
            name="Index View"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.query2.index.ui.copyQualifiedName"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.emf.query2.index.ui.recreateIndices"
            name="Recreate Indices">
      </command>
      <command
            id="org.eclipse.emf.query2.index.ui.openInEditor"
            name="Open In Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.query.index.ui.internal.view.tree.handlers.CopyQualifiedNameHandler"
            commandId="org.eclipse.emf.query2.index.ui.copyQualifiedName">
      </handler>
      <handler
            class="org.eclipse.emf.query.index.ui.internal.view.tree.handlers.RecreateIndicesHandler"
            commandId="org.eclipse.emf.query2.index.ui.recreateIndices">
      </handler>
      <handler
            class="org.eclipse.emf.query.index.ui.internal.view.tree.handlers.OpenResourceinEditorHandler"
            commandId="org.eclipse.emf.query2.index.ui.openInEditor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.emf.query2.index.ui.indexview?after=additions">
         <command
               commandId="org.eclipse.emf.query2.index.ui.copyQualifiedName"
               icon="icons/CopyQualifiedName.gif"
               label="Copy Qualified Name"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.emf.query2.index.ui.indexview">
         <command
               commandId="org.eclipse.emf.query2.index.ui.recreateIndices"
               icon="icons/RecreateIndices.gif"
               label="Recreate Indices"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.emf.query2.index.ui.indexview?after=additions">
         <command
               commandId="org.eclipse.emf.query2.index.ui.openInEditor"
               icon="icons/OpenInEditor.gif"
               label="Open In Editor"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
