<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="syntaxBuilder"
         name="Syntax Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.sap.furcas.ide.dslproject.builder.SyntaxBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="syntaxGenerationNature"
         name="%NatureName"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.sap.furcas.ide.dslproject.builder.SyntaxGenerationNature">
         </run>
      </runtime>
      <builder
            id="com.sap.furcas.ide.dslproject.syntaxBuilder">
      </builder>
   </extension>
   <extension
         id="dslProblem"
         name="%DslProblemMarkerName"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
