<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.5 2010/05/06 18:34:56 ewillink Exp $
-->

<plugin>


   <extension point="org.eclipse.ui.propertyPages">
      <page id="org.eclipse.ocl.modelregistry.properties.ModelRegistryPropertyPage"
            class="org.eclipse.ocl.examples.modelregistry.ui.properties.PropertyPage"           
            name="%modelRegistryPageName">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IResource"/>
         </enabledWhen>
      </page>
   </extension>

   <extension point="org.eclipse.ui.views">
      <category id="org.eclipse.ocl.modelregistry.ui.registrations"
      		name="%MF_OCL"/>
      <view id="org.eclipse.ocl.modelregistry.registrations"
            name="%MF_RegistrationsView"
            icon="icons/sample.gif"
            category="org.eclipse.ocl.modelregistry.ui.registrations"
            class="org.eclipse.ocl.examples.modelregistry.ui.registrations.RegistrationsView"/>
   </extension>
   
   <extension point="org.eclipse.help.contexts">
      <contexts file="contexts.xml"/>
   </extension>
</plugin>
