<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?> 
<plugin> 
	<extension point="org.eclipse.ui.editors"> 
		<editor 
			class="com.sap.furcas.metamodel.texteditor.editor.TCSEditor"
			extensions="tcs" 
			id="com.sap.furcas.metamodel.texteditor.editor.TCSEditor" 
			name="TCS Text Editor"> 
		</editor> 
	</extension>
 <extension
       point="org.eclipse.imp.runtime.tokenColorer">
    <tokenColorer
          class="com.sap.furcas.metamodel.texteditor.editor.TCSTokenColorer"
          language="TCS">
    </tokenColorer>
 </extension>
 <extension
       point="org.eclipse.imp.runtime.parser">
    <parser
          class="com.sap.furcas.metamodel.texteditor.parser.TCSParseController"
          language="TCS">
    </parser>
 </extension>
 <extension
       point="org.eclipse.imp.runtime.languageDescription">
    <language
          derivedFrom="FURCAS_BASE"
          description="TCS"
          extensions="tcs"
          language="TCS">
    </language>
 </extension> 
 
</plugin> 
