<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="query"
            id="org.eclipse.emf.query2.syntax.Query"
            name="%Query2StringSyntaxUI_QueryEditor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.query2.syntax.Query.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.eclipse.emf.query2.syntax.Query.validate">
         <activeWhen>
            <reference
                    definitionId="org.eclipse.emf.query2.syntax.Query.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.eclipse.emf.query2.syntax.Query.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.eclipse.emf.query2.syntax.Query" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.eclipse.emf.query2.syntax.Query"
            name="%Query2StringSyntaxUI_QueryPage">
            <keywordReference id="org.eclipse.emf.query2.syntax.ui.keyword_Query"/>
        </page>
        <page
            category="org.eclipse.emf.query2.syntax.Query"
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.eclipse.emf.query2.syntax.Query.coloring"
            name="%Query2StringSyntaxUI_SyntaxColoringPage">
            <keywordReference id="org.eclipse.emf.query2.syntax.ui.keyword_Query"/>
        </page>
        <page
            category="org.eclipse.emf.query2.syntax.Query"
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.eclipse.emf.query2.syntax.Query.templates"
            name="%Query2StringSyntaxUI_TemplatesPage">
            <keywordReference id="org.eclipse.emf.query2.syntax.ui.keyword_Query"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.eclipse.emf.query2.syntax.ui.keyword_Query"
            label="%Query2StringSyntaxUI_Query"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="%Query2StringSyntaxUI_Validation"
            id="org.eclipse.emf.query2.syntax.Query.validate"
            name="%Query2StringSyntaxUI_ValidateCommand">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.emf.query2.syntax.Query.validate"
                 style="push"
                 tooltip="%Query2StringSyntaxUI_ValidationLabel">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.emf.query2.syntax.Query.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.eclipse.emf.query2.syntax.Query.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.query2.syntax.Query.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="query">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="query">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.eclipse.emf.query2.syntax.Query.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="%Query2StringSyntaxUI_OpenQuickOutlineCommandDescription"
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="%Query2StringSyntaxUI_QuickOutlineCommand">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="%Query2StringSyntaxUI_OpenQuickOutLineTooltip">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.emf.query2.syntax.Query.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.emf.query2.syntax.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

</plugin>
