<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="queryIndexBuilder"
         name="Query Index Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.emf.query.index.internal.ui.builder.QueryIndexBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="queryIndexNature"
         name="Query Index Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.emf.query.index.internal.ui.builder.QueryIndexNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.emf.query.index.ui.queryIndexBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.eclipse.emf.query.index.ui.contribution1">
         <action
               label="Add/Remove Query Index Nature"
               class="org.eclipse.emf.query.index.internal.ui.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.eclipse.emf.query.index.ui.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
