<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.sap.mi.views.moin"
            class="com.sap.mi.tools.cockpit.editor.ui.MOINBrowserView"
            icon="resources/icons/MOIN_Browser.gif"
            id="com.sap.mi.tools.cockpit.editor.ui.MOINBrowserView"
            name="%view.name.browser"/>
                         
</extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="com.sap.mi.tools.cockpit.editor.perspective.CockpitPerspective"
         icon="resources/icons/MOIN_Browser.gif"
         id="com.sap.mi.tools.cockpit.editor.perspective.CockpitPerspective"
         name="%perspective.name.cockpit">
   </perspective>
</extension>
</plugin>
