<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://de.hpi.sam.bp2009.benchframework.loopOperator2"
            class="de.hpi.sam.bp2009.benchframework.loopOperator2.LoopOperator2Package"
            genModel="model/loopOperator2.0.genmodel"/>
   </extension>
   <extension point="de.hpi.sam.bp2009.benchframework.operatorExtensionPointID">
      <operator
            name="Loop"
            operatorClass="de.hpi.sam.bp2009.benchframework.loopOperator2.impl.StartLoopImpl"></operator>
   </extension>

</plugin>
