<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="FURCAS"
            id="com.sap.ide.cts.UnresolvedReferencesView">
      </category>
      <view
            name="Unresolved References View"
            icon="icons/sample.gif"
            category="com.sap.ide.cts.UnresolvedReferencesView"
            class="com.sap.ide.cts.unresolvedreferencesview.views.UnresolvedReferencesView"
            id="com.sap.ide.cts.unresolvedreferencesview.views.UnresolvedReferencesView">
      </view>
   </extension>

</plugin>
