body {
	background-color:	#FFF;
}

.small {
	font-size:		smaller;
}

.codeblock {
	background-color:	#EEE;
	border-style:		solid;
	border-width:		thin;
	font-family:		monospace;
	margin-left:		4em;
	padding:		0.5em;
}

.note {
	border-left:		none;
	border-right:		none;
	border-top:		thin solid #000;
	border-bottom:		thin solid #000;
	margin-left:		4em;
	padding:		0.5em;
}
