<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.2"?>
<plugin>

     <extension-point id="MoinMetaModel" name="%moinMetaModel" schema="schema/MoinMetaModel.exsd"/>

   <extension-point id="MoinFacility" name="%moinFacility"/>
      
   <extension point="com.tssap.tools.ui.traceParticipant">
      <tracePaticipant class="com.sap.tc.moin.repository.runtimehost.logger.ide.MoinLoggerDynamicParticipant">
      </tracePaticipant>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page class="com.sap.tc.moin.repository.runtimehost.ide.MoinPreferencePage" id="MoinPreferencePage" name="%_preferences_page_title">
      </page>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
       <initializer class="com.sap.tc.moin.repository.runtimehost.ide.MoinPreferenceInitializer"/>
   </extension>
  
   <extension-point id="sessionCreationListener" 
   	name="%sessionCreationListener"
   	schema="schema/sessionCreationListener.exsd"/>

</plugin>
