<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.sap.ap.cts.editor.ClassParserFactoryEP" name="ClassParserFactoryEP" schema="schema/com.sap.ap.cts.editor.ClassParserFactoryEP.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sap.ap.cts.editor.ActionsEditor"
            contributorClass="com.sap.ide.cts.editor.AbstractGrammarBasedEditorActionBarContributor"
            extensions="act"
            icon="resources/icons/change_view_action.gif"
            id="com.sap.ap.cts.editor.ActionsEditor"
            name="Actions Editor">
      </editor>
      <editor
            class="com.sap.ap.cts.editor.ClassEditor"
            contributorClass="com.sap.ide.cts.editor.AbstractGrammarBasedEditorActionBarContributor"
            extensions="ngpm"
            icon="resources/icons/change_view_action.gif"
            id="com.sap.ap.cts.editor.ClassEditor"
            name="Class Editor">
      </editor>
      <editor
            class="com.sap.ap.cts.editor.PackageEditor"
            contributorClass="com.sap.ide.cts.editor.AbstractGrammarBasedEditorActionBarContributor"
            extensions="ngpm"
            icon="resources/icons/change_view_action.gif"
            id="com.sap.ap.cts.editor.PackageEditor"
            name="Package Editor">
      </editor>
      <editor
            class="com.sap.ap.cts.editor.BindingEditor"
            contributorClass="com.sap.ide.cts.editor.AbstractGrammarBasedEditorActionBarContributor"
            extensions="act"
            icon="resources/icons/change_view_action.gif"
            id="com.sap.ap.cts.editor.BindingEditor"
            name="Binding Editor">
      </editor>
      <editor
            class="com.sap.ap.cts.editor.AdapterEditor"
            contributorClass="com.sap.ide.cts.editor.AbstractGrammarBasedEditorActionBarContributor"
            extensions="act"
            icon="resources/icons/change_view_action.gif"
            id="com.sap.ap.cts.editor.AdapterEditor"
            name="Type Adapter Editor">
      </editor>
   </extension>
   <extension
         point="com.sap.ide.treeprovider.rootNodeDefinition">
        <rootNodeProvider classname="com.sap.ap.cts.monet.tree.RunletRootNodeProvider" />
   </extension>
   <extension
         point="com.sap.ide.treeprovider.textLabelProvider">
        <textLabelProvider classname="com.sap.ap.cts.monet.tree.RunletTreeLabelProvider" />
   </extension>
   <extension
         point="com.sap.ide.treeprovider.imageProvider">
        <imageProvider classname="com.sap.ap.cts.monet.tree.RunletTreeImageProvider" />
   </extension>
   <extension
         point="com.sap.ide.cts.editor.autoEditing">
      <configuration
            autoEditingType="static (default)">
      </configuration>
   </extension>
   <extension
         point="com.sap.ide.cts.editor.bracketMatching">
      <configuration
            matchingType="default">
      </configuration>
   </extension>
   <extension
         point="com.sap.ide.cts.editor.folding">
      <configuration
            foldingType="static (default)">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.sap.tc.moin.repository.mmi.reflect.RefObject"
            class="com.sap.ap.cts.monet.deepcopy.RunletModelCopyAdapterFactory">
         <adapter
               type="com.sap.mi.fwk.ui.dnd.IModelTransferTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="com.sap.tc.moin.repository.mmi.reflect.RefObject"
            class="com.sap.ap.cts.monet.deepcopy.RunletModelCopyAdapterFactory">
         <adapter
               type="com.sap.mi.fwk.ui.dnd.IModelTransferExtender">
         </adapter>
      </factory>
      <factory
            adaptableType="com.sap.ide.treeprovider.GenericRefObjectNode"
            class="com.sap.ap.cts.monet.deepcopy.RunletModelCopyAdapterFactory">
         <adapter
               type="com.sap.mi.fwk.ui.dnd.IModelTransferTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.sap.ide.cts.parser.parserFactory">
      <configuration
            dynamicParserFactoryClass="com.sap.ap.cts.monet.parser.ClassParserFactory"
            languageID="Class">
      </configuration>
   </extension>
   <extension
         point="com.sap.ide.cts.parser.parserFactory">
      <configuration
            dynamicParserFactoryClass="com.sap.ap.cts.monet.parser.PackageParserFactory"
            languageID="Package">
      </configuration>
   </extension>

</plugin>
