<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
         <view
           allowMultiple="false"
           category="com.sap.mi.views.moin"
           icon="resources/icons/find.gif"
           class="com.sap.mi.tools.cockpit.mql.ui.view.QueryConsoleView"
           id="com.sap.mi.tools.cockpit.mql.ui.view.QueryConsoleView"
           name="%view.name.mql">
         </view>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.sap.mi.tools.cockpit.mql.ui.search.MQLSearchResultPage"
            id="com.sap.mi.tools.cockpit.mql.ui.search.MQLSearchResultPage"
            searchResultClass="com.sap.mi.tools.cockpit.mql.search.MQLSearchResult"
            label="MQL Search Results">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="MoinPreferencePage"
            class="com.sap.mi.tools.cockpit.mql.preferences.MQLPreferencePage"
            id="com.sap.mi.tools.cockpit.mql.preferences.MQLPreferencePage"
            name="%preference.page.title">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sap.mi.tools.cockpit.mql.preferences.MQLPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sap.mi.tools.cockpit.mql.ui.testers.RemoteMriPropertyTester"
            id="com.sap.mi.tools.cockpit.mql.properties.MRITester"
            namespace="com.sap.mi.tools.cockpit.mql.properties"
            properties="isRemoteMRI"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
</plugin>
