<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2011/01/24 21:00:31 ewillink Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ocl/3.1.0/BaseCST"
            class="org.eclipse.ocl.examples.xtext.base.baseCST.BaseCSTPackage"
            genModel="model/BaseCST.genmodel"/>
   </extension>

</plugin>
