<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2011/03/23 05:36:08 auhl Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///company.ecore"
            class="company.CompanyPackage"
            genModel="model/company.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///primitivetypes.ecore"
            class="primitivetypes.PrimitivetypesPackage"
            genModel="model/company.genmodel"/>
   </extension>

</plugin>
