<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sap.com/moin/OCL/Types"
            class="org.omg.OCL.Types.TypesPackage"
            genModel="model/test.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sap.com/moin/OCL/Expressions"
            class="org.omg.OCL.Expressions.ExpressionsPackage"
            genModel="model/test.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sap.com/moin/OCL/Attaching"
            class="org.omg.OCL.Attaching.AttachingPackage"
            genModel="model/test.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sap.com/moin/OCL/StdLibrary"
            class="org.omg.OCL.StdLibrary.StdLibraryPackage"
            genModel="model/test.genmodel"/>
   </extension>

</plugin>
