<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- Trace enabling -->

<!-- View "Deployed Metamodels" -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.sap.mi.views.moin"
            class="com.sap.mi.tools.oclevalview.internal.OCLEvaluationView"
            icon="resources/icons/OCLEvalView.gif"
            id="com.sap.mi.tools.oclevalview"
            name="%view.name">
      </view>
   </extension>
   
<!-- View actions for deployment view -->

<!-- Popup menu actions for deployment view -->

<!-- Adapter factories -->  

</plugin>
