<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ocl.examples.category"
            name="EMFT OCL"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ocl.examples.category"
            class="org.eclipse.emf.ocl.examples.internal.wizard.InterpreterExampleWizard"
            hasPages="false"
            id="org.eclipse.emf.ocl.examples.interpreter"
            name="Interpreter Example"/>
   </extension>
</plugin>
