<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           point="com.sap.mi.gfw.eclipse.imageProviders">
        <imageProvider
              class="com.sap.ide.moftool.editor.graphics.eclipse.ImageProvider"
              id="com.sap.ide.moftool.editor.graphics.eclipse.ImageProvider">
        </imageProvider>
     </extension>
</plugin>
