<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2005, 2008 IBM Corporation, Zeligsoft Inc., and others.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
   IBM - initial API and implementation
   Zeligsoft - Bug 231435

 $Id: plugin.xml,v 1.4 2008/09/21 12:21:09 cdamus Exp $
-->

<plugin>
   <extension-point id="environments" name="%oclenv.point.name" schema="schema/environments.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/OCL/Types" 
       class = "org.eclipse.ocl.types.TypesPackage"
       genModel = "model/OCL.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/OCL/Expressions" 
       class = "org.eclipse.ocl.expressions.ExpressionsPackage"
       genModel = "model/OCL.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/OCL/Utilities" 
       class = "org.eclipse.ocl.utilities.UtilitiesPackage"
       genModel = "model/OCL.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/1.1.0/OCL/CST" 
       class = "org.eclipse.ocl.cst.CSTPackage"
       genModel = "model/OCLCST.genmodel" /> 
  </extension>

  <extension
        point="org.eclipse.emf.ecore.content_parser">
     <parser
           contentTypeIdentifier="org.eclipse.ocl.types"
           class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl" />
     <parser
           contentTypeIdentifier="org.eclipse.ocl.expressions"
           class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl" />
     <parser
           contentTypeIdentifier="org.eclipse.ocl.utilities"
           class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl" />
     <parser
           contentTypeIdentifier="org.eclipse.ocl.cst"
           class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl" />
  </extension>

  <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="ocl"
           id="org.eclipse.ocl"
           name="%oclContentType"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespacePattern"
                 value="http://www\.eclipse\.org/ocl/1\.1\.0/OCL/(Types|Expressions|Utilities)" />
           <parameter
                 name="kind"
                 value="xmi" />
        </describer>
     </content-type>
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="ocl"
           id="org.eclipse.ocl.cst"
           name="%cstContentType"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespacePattern"
                 value="http://www\.eclipse\.org/ocl/1\.1\.0/OCL/CST" />
           <parameter
                 name="kind"
                 value="xmi" />
        </describer>
     </content-type>
  </extension>

</plugin>
