<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 * <copyright>
 *
 * Copyright (c) 2005, 2006 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   IBM - Initial API and implementation
 *
 * </copyright>
 *
 * $Id$
 */
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package 
         uri="http://www.eclipse.org/OCL2/7.0.0/ocl/expressions" 
         class="org.eclipse.emf.ocl.expressions.ExpressionsPackage"
         genModel="model/OCL.genmodel"/>
      <package 
         uri="http://www.eclipse.org/OCL2/7.0.0/ocl/types" 
         class="org.eclipse.emf.ocl.types.TypesPackage"
         genModel="model/OCL.genmodel"/>
      <package 
         uri="http://www.eclipse.org/OCL2/7.0.0/ocl/uml" 
         class="org.eclipse.emf.ocl.uml.UMLPackage"
         genModel="model/OCL.genmodel"/>
      <package 
         uri="http://www.eclipse.org/OCL2/7.0.0/ocl/utilities" 
         class="org.eclipse.emf.ocl.utilities.UtilitiesPackage"
         genModel="model/OCL.genmodel"/>
      <package 
         uri="http://www.eclipse.org/OCL2/7.0.0/ocl/query" 
         class="org.eclipse.emf.ocl.query.QueryPackage"
         genModel="model/OCL.genmodel"/>
   </extension>
</plugin>
