<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sap.com/sac"
            class="com.sap.emf.ocl.impactanalysis.example.signature_and_call.Signature_and_callPackage"
            genModel="model/signature_and_call.genmodel"/>
   </extension>
	<extension point = "org.eclipse.emf.ecore.extension_parser">
	  <parser type="signature_and_call"
	     class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
	</extension>

</plugin>
