<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sap.river.expressionpad"
            name="Runlet">
      </category>
      <view
            category="com.sap.river.expressionpad"
            class="com.sap.runlet.expressionpad.views.RunletConsoleView"
            icon="icons/LittleRiver.jpg"
            id="com.sap.river.expressionpad.views.RiverConsoleView"
            name="Runlet Console View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.sap.river.expressionpad.views.RiverConsoleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.sap.runlet.expressionpad.launch.LaunchConfig"
            id="com.sap.river.expressionpad.runletLaunchConfiguration"
            modes="run, debug"
            name="Runlet"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.sap.river.expressionpad.runletLaunchConfiguration"
            icon="icons/LittleRiver.jpg"
            id="com.sap.river.expressionpad.runletLaunchConfigTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.sap.runlet.expressionpad.launch.LaunchConfigTabGroup"
            id="com.sap.river.expressionpad.runletLaunchConfigTabGroup"
            type="com.sap.river.expressionpad.runletLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
