<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sap.tc.moin.runtime.MoinMetaModel">
      <metamodel
            class="com.sap.tc.moin.packageFF55A7A61D954C2D4FDB0176F04FBF6E6366AA78.MetamodelExtension">
      </metamodel>
   </extension>

</plugin>
