<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sap.tc.moin.incubation.contentprovider.Content">
      <ContentDefinition>
         <Path
               Value="src"
               Versioned="true">
         </Path>
      </ContentDefinition>
   </extension>

</plugin>
