<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
<!-- ======================================================================================= -->
<!-- View						                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.sap.mi.views.moin"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="resources/icons/DiagView.gif"
            id="com.sap.mi.tools.diagnostics.viewer"
            name="%view.name"/>
   </extension>
   
<!-- ======================================================================================= -->
<!-- Common Viewer				                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="com.sap.mi.tools.diagnostics.viewer"
            viewerId="com.sap.mi.tools.diagnostics.viewer"/>
      <viewerContentBinding viewerId="com.sap.mi.tools.diagnostics.viewer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.sap.mi.tools.diagnostics.content"/>
         </includes>
      </viewerContentBinding>
   </extension>
   
<!-- ======================================================================================= -->
<!-- Viewer Content				                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.sap.mi.tools.diagnostics.internal.DiagnosticsContentProvider"
            id="com.sap.mi.tools.diagnostics.content"
            labelProvider="com.sap.mi.tools.diagnostics.internal.DiagnosticsLabelProvider"
            name="%navigatorContent.name.0_xfld"
            priority="normal">
         <possibleChildren>
            <or>
               <instanceof value="com.sap.mi.tools.diagnostics.internal.model.TreeNode"/> 
            </or>
         </possibleChildren>
         <triggerPoints>
            <or>
               <instanceof value="org.eclipse.core.resources.IWorkspace"/>
               <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
            </or>
         </triggerPoints>
      <actionProvider class="com.sap.mi.tools.diagnostics.internal.actions.DiagnosticsActionProvider"/>
         <commonSorter
               class="com.sap.mi.tools.diagnostics.internal.DiagnosticsSorter"
               id="com.sap.mi.tools.diagnostics.sorter"/>
      </navigatorContent>
   </extension>
   
<!-- ======================================================================================= -->
<!-- Link Helper				                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.sap.mi.tools.diagnostics.internal.DiagnosticsLinkHelper"
            id="com.sap.mi.tools.diagnostics.content">
         <selectionEnablement>
            <instanceof value="com.sap.mi.tools.diagnostics.internal.model.ConnectionNode"/>
         </selectionEnablement>
         <editorInputEnablement>
            <instanceof value="com.sap.mi.fwk.ui.editor.ModelEditorInput"/>
         </editorInputEnablement>
      </linkHelper>
   </extension>
   
<!-- ======================================================================================= -->
<!-- Adapter Factories			                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.sap.mi.tools.diagnostics.internal.model.MoinNode"
            class="com.sap.mi.tools.diagnostics.internal.DiagnosticsAdapterFactory">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
      <factory
            adaptableType="com.sap.mi.tools.diagnostics.internal.model.PartitionableNode"
            class="com.sap.mi.tools.diagnostics.internal.DiagnosticsAdapterFactory">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
       <factory
            adaptableType="org.eclipse.ui.navigator.CommonNavigator"
            class="com.sap.mi.tools.diagnostics.internal.DiagnosticsAdapterFactory">
         <adapter type="org.eclipse.ui.views.properties.IPropertySheetPage"/>
      </factory>
   </extension>
   
<!-- ======================================================================================= -->
<!-- Tabbed Properties: Contributor	                                                         -->
<!-- ======================================================================================= -->
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="com.sap.mi.tools.diagnostics.viewer"
             labelProvider="com.sap.mi.tools.diagnostics.internal.DiagnosticsLabelProvider">
          <propertyCategory category="advanced"/>
       </propertyContributor>
    </extension>
    
<!-- ======================================================================================= -->
<!-- Tabbed Properties: Tabs		                                                         -->
<!-- ======================================================================================= -->
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs contributorId="com.sap.mi.tools.diagnostics.viewer">
          <propertyTab
                label="%propertyTab.advanced"
                category="advanced"
                id="com.sap.mi.tools.diagnostics.viewer.tab.Advanced"/>
       </propertyTabs>
    </extension>
    
<!-- ======================================================================================= -->
<!-- Tabbed Properties: Sections	                                                         -->
<!-- ======================================================================================= -->
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections contributorId="com.sap.mi.tools.diagnostics.viewer">
          <propertySection
                class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
                id="com.sap.mi.tools.diagnostics.viewer.section.Advanced"
                tab="com.sap.mi.tools.diagnostics.viewer.tab.Advanced">
             <input type="com.sap.mi.tools.diagnostics.internal.model.MoinNode"/>
             <input type="com.sap.mi.tools.diagnostics.internal.model.PartitionableNode"/>
          </propertySection>
       </propertySections>
    </extension>

<!-- ======================================================================================= -->
<!-- Commands					                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.commands">
     <!-- Open View -->
      <command
            name="%view.name"
            description="%command.descr.openview"
            categoryId="org.eclipse.ui.category.views"
            id="com.sap.mi.tools.diagnostics.viewer" />
   </extension>

<!-- ======================================================================================= -->
<!-- Key Bindings				                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.bindings">
     <!-- Open View -->
      <key
            sequence="M2+M3+Q G"
            commandId="com.sap.mi.tools.diagnostics.viewer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
	
</plugin>
