<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.ecoretools.registration.epackagesregistration"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
	         id="org.eclipse.emf.ecoretools.registration.epackagesregistration.subMenu"
	         label="%epackages.registration"
	         path="additions">
      		<separator name="emfregistration"/>
		</menu>
        <action
              class="org.eclipse.emf.ecoretools.registration.popup.actions.EcoreRegisteringAction"
              enablesFor="*"
              icon="icons/etool16/eclipse_ecore.gif"
              id="org.eclipse.emf.ecoretools.registration.EcoreRegister"
              label="%register.epackages.into.repository"
              menubarPath="org.eclipse.emf.ecoretools.registration.epackagesregistration.subMenu/emfregistration">
        </action>
       <action
               enablesFor="*"
               label="%unregister.epackages.into.repository"
               icon="icons/etool16/eclipse_ecore.gif"
               menubarPath="org.eclipse.emf.ecoretools.registration.epackagesregistration.subMenu/emfregistration" 
               class="org.eclipse.emf.ecoretools.registration.popup.actions.EcoreUnregisteringAction"
               id="org.eclipse.emf.ecoretools.registration.EcoreUnregister"/>       
      </objectContribution>
	</extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%epackages.registration"
            id="org.eclipse.emf.ecoretools.registration.view">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.emf.ecoretools.registration.view"
            class="org.eclipse.emf.ecoretools.registration.view.RegisteredPackageView"
            icon="icons/view16/RegisteredEPackage.gif"
            id="org.eclipse.emf.ecoretools.registration.viewregisteredpackages"
            name="%emf.registered.packages"/>
   </extension>
</plugin>
