<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="de.hpi.sam.bp2009.benchframework.operatorExtensionPointID">
      <operator
            operatorClass="de.hp.sam.bp2009.eventManagerEvaluation.Operator">
      </operator>
   </extension>

</plugin>
