<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.query.examples.category"
            name="EMFT Query"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.emf.query.examples.category"
            class="org.eclipse.emf.query.examples.internal.wizard.StatementsExampleWizard"
            hasPages="false"
            id="org.eclipse.emf.query.examples.statements"
            name="Query Statements Example"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.emf.query.examples.category"
            class="org.eclipse.emf.query.examples.internal.wizard.OCLExampleWizard"
            hasPages="false"
            id="org.eclipse.emf.query.examples.ocl"
            name="OCL Example"/>
   </extension>
</plugin>
