<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           point="com.sap.mi.gfw.eclipse.diagramTypeProviders">
        <diagramTypeProvider
              class="com.sap.ide.moftool.editor.graphics.ClassDiagramTypeProvider"
              description="Class Diagram for a Metamodel"
              id="com.sap.ide.moftool.editor.graphics.DiagramTypeProvider"
              name="Metamodel Class Diagram">
           <diagramType
                 id="com.sap.ide.moftool.editor.graphics.MofClassDiagramType">
           </diagramType>
           <imageProvider
                 id="com.sap.ide.moftool.editor.graphics.eclipse.ImageProvider">
           </imageProvider>
        </diagramTypeProvider>
     </extension>
     <extension
           point="com.sap.mi.gfw.eclipse.diagramTypes">
        <diagramType
              description="Class Diagram for a Metamodel"
              id="com.sap.ide.moftool.editor.graphics.MofClassDiagramType"
              name="Metamodel Class Diagram"
              type="com.sap.ide.moftool.class">
        </diagramType>
     </extension>
</plugin>
