<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
    <extension point = "org.eclipse.emf.ecore.validation_delegate">
    <delegate uri = "http://de.hpi.sam.bp2009.OCL"
       class = "de.hpi.sam.bp2009.solution.oclToAst.delegate.OCLValidationDelegateFactory$Global" />
  </extension>

  <extension point = "org.eclipse.emf.ecore.setting_delegate">
    <factory uri = "http://de.hpi.sam.bp2009.OCL"
       class = "de.hpi.sam.bp2009.solution.oclToAst.delegate.OCLSettingDelegateFactory$Global" />
  </extension>

  <extension point = "org.eclipse.emf.ecore.invocation_delegate">
    <factory uri = "http://de.hpi.sam.bp2009.OCL"
       class = "de.hpi.sam.bp2009.solution.oclToAst.delegate.OCLInvocationDelegateFactory$Global" />
  </extension>
</plugin>
