<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.ocl.standalone.uml.tests/src/org/eclipse/ocl/standalone/uml/tests/AllTests.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ocl.standalone.uml.tests.AllTests"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.ocl.standalone.uml.tests"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dtarget.location=${target_home} -Dworkspace.location=${workspace_loc} -Dorg.eclipse.ocl=${workspace_loc:/org.eclipse.ocl} -Dorg.eclipse.ocl.ecore.tests=${workspace_loc:/org.eclipse.ocl.ecore.tests} -Dorg.eclipse.ocl.ecore.tests.testmodel=${workspace_loc:/org.eclipse.ocl.ecore.tests/model/OCLTest.ecore} -Dorg.eclipse.ocl.uml=${workspace_loc:/org.eclipse.ocl.uml} -Dorg.eclipse.ocl.uml.tests=${workspace_loc:org.eclipse.ocl.uml.tests} -Dorg.eclipse.ocl.uml.tests.testmodel=${workspace_loc:/org.eclipse.ocl.uml.tests/model/OCLTest.uml&quot; -Dorg.eclipse.uml2.uml.resources=${target_home:/org.eclipse.uml2.uml.resources -Dorg.eclipse.osgi=${target_home:/org.eclipse.osgi}"/>
</launchConfiguration>
