<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    
<!-- ======================================================================================= -->
<!-- Trace enabling		                                                                     -->
<!-- ======================================================================================= -->
   <extension point="com.tssap.tools.ui.traceParticipant">
      <traceParticipant file="traceParticipant.properties"/>
   </extension>

<!-- ======================================================================================= -->
<!-- Views 				                                                                     -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.views">
<!-- "Deployed Metamodels" -->
      <view
            category="com.sap.mi.views.moin"
            class="com.sap.mi.tools.mmdeploy.internal.view.MmDeploymentView"
            icon="resources/icons/MmDeploymentView.gif"
            id="com.sap.mi.views.MmDeployment"
            name="%view.name">
      </view>
   </extension>
   
<!-- ======================================================================================= -->
<!-- Adapter factories                                                                       -->
<!-- ======================================================================================= -->
    <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.sap.mi.tools.mmdeploy.internal.view.MmNode"
            class="com.sap.mi.tools.mmdeploy.internal.view.MmDeploymentInfoAdapterFactory">
         <adapter type="com.sap.tc.moin.repository.ide.metamodels.MmDeploymentInfo"/>
      </factory>
      <factory
            adaptableType="com.sap.mi.tools.mmdeploy.internal.view.MmWorkingSetNode"
            class="com.sap.mi.tools.mmdeploy.internal.view.MmDeploymentInfoAdapterFactory">
         <adapter type="[Lcom.sap.tc.moin.repository.ide.metamodels.MmDeploymentInfo;"/>
         <adapter type="org.eclipse.ui.IWorkingSet"/>
      </factory>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer class="com.sap.mi.tools.mmdeploy.internal.MmDeploymentPrefInitializer"/>
    </extension>

<!-- ======================================================================================= -->
<!-- Property Testers                                                                        -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sap.mi.tools.mmdeploy.internal.view.MmWorkingSetNodeTester"
            id="com.sap.mi.tools.mmdeploy.testers.workingSetNode"
            namespace="com.sap.mi.tools.mmdeploy.testers.workingSetNode"
            properties="isOthers"
            type="com.sap.mi.tools.mmdeploy.internal.view.MmWorkingSetNode"/>
   </extension>

<!-- ======================================================================================= -->
<!-- Expression Definitions                                                                  -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.sap.mi.tools.mmdeploy.expressions.isOthersWorkingSet">
           <iterate
                 ifEmpty="false"
                 operator="and">
              <test
                    forcePluginActivation="true"
                    property="com.sap.mi.tools.mmdeploy.testers.workingSetNode.isOthers"
                    value="true">
              </test>
           </iterate>
      </definition>
   </extension>

<!-- ======================================================================================= -->
<!-- Commands					                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.sap.mi.fwk.ui.commands.categories.metamodel"
            id="com.sap.mi.tools.mmdeploy.commands.editWorkingSet"
            name="%action.name.editWorkingSet">
      </command>
      <command
            categoryId="com.sap.mi.fwk.ui.commands.categories.metamodel"
            id="com.sap.mi.tools.mmdeploy.commands.showWorkingSets"
            name="%action.name.showWorkingSets">
      </command>
      <command
            categoryId="com.sap.mi.fwk.ui.commands.categories.metamodel"
            id="com.sap.mi.tools.mmdeploy.commands.editWorkingSets"
            name="%action.name.editWorkingSets">
      </command>
     <!-- Open Deployment View -->
      <command
            name="%view.name"
            description="%command.descr.openview"
            categoryId="org.eclipse.ui.category.views"
            id="com.sap.mi.views.MmDeployment" />
   </extension>

<!-- ======================================================================================= -->
<!-- Handlers					                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.handlers">
     <!-- Configure Working Set -->
      <handler
            class="com.sap.mi.tools.mmdeploy.internal.view.EditWorkingSetAction"
            commandId="com.sap.mi.tools.mmdeploy.commands.editWorkingSet">
         <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="com.sap.mi.tools.mmdeploy.internal.view.MmWorkingSetNode">
              </instanceof>
           </iterate>
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <not>
                  <reference
                        definitionId="com.sap.mi.tools.mmdeploy.expressions.isOthersWorkingSet">
                  </reference>
               </not>
            </and>
         </enabledWhen>
      </handler>
     <!-- Refresh -->
      <handler
            class="com.sap.mi.tools.mmdeploy.internal.view.RefreshAction"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.sap.mi.views.MmDeployment">
               </equals>
            </with>
         </activeWhen>
      </handler>
     <!-- Show Working Sets -->
      <handler
            class="com.sap.mi.tools.mmdeploy.internal.view.ShowWorkingSetsAction"
            commandId="com.sap.mi.tools.mmdeploy.commands.showWorkingSets">
      </handler>
     <!-- Edit Working Sets -->
      <handler
            class="com.sap.mi.tools.mmdeploy.internal.view.EditWorkingSetsAction"
            commandId="com.sap.mi.tools.mmdeploy.commands.editWorkingSets">
      </handler>
     <!-- Copy -->
      <handler
            class="com.sap.mi.tools.mmdeploy.internal.view.CopyMmInfoAction"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <or>
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="com.sap.tc.moin.repository.ide.metamodels.MmDeploymentInfo">
                  </adapt>
               </iterate>
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.ui.IWorkingSet">
                  </adapt>
               </iterate>
               <reference
                     definitionId="com.sap.mi.tools.mmdeploy.expressions.isOthersWorkingSet">
               </reference>
            </or>
         </activeWhen>
      </handler>
     <!-- Properties -->
      <handler
            class="com.sap.mi.tools.mmdeploy.internal.view.ShowPropertiesAction"
            commandId="org.eclipse.ui.file.properties">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.sap.mi.views.MmDeployment">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

<!-- ======================================================================================= -->
<!-- Menus						                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.menus">
	<!-- Context menu: group.edit -->
      <menuContribution
            locationURI="popup:com.sap.mi.views.MmDeployment?after=group.edit">
		<!-- Copy -->
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="%action.name.copy"
               tooltip="%action.tooltip.copy">
         </command>
      </menuContribution>
	<!-- Context menu: group.filter -->
      <menuContribution
            locationURI="popup:com.sap.mi.views.MmDeployment?after=group.filter">
        <!-- Configure -->
         <command
               commandId="com.sap.mi.tools.mmdeploy.commands.editWorkingSet"
               label="%action.name.editWorkingSet">
            <visibleWhen>
              <iterate
                    ifEmpty="false">
                 <instanceof
                       value="com.sap.mi.tools.mmdeploy.internal.view.MmWorkingSetNode">
                 </instanceof>
              </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
	<!-- Context menu: group.end -->
      <menuContribution
            locationURI="popup:com.sap.mi.views.MmDeployment?after=group.end">
        <!-- Properties -->
         <command
               commandId="org.eclipse.ui.file.properties"
               label="%action.name.properties"
               tooltip="%action.tooltip.properties">
         </command>
      </menuContribution>
	<!-- Pulldown menu: group.filter -->
      <menuContribution
            locationURI="menu:com.sap.mi.views.MmDeployment?after=group.filter">
        <!-- Configure -->
         <command
               commandId="com.sap.mi.tools.mmdeploy.commands.editWorkingSet"
               label="%action.name.editWorkingSet"
               tooltip="%action.tooltip.editWorkingSet">
         </command>
        <!-- Show Working Sets -->
         <command
               commandId="com.sap.mi.tools.mmdeploy.commands.showWorkingSets"
               icon="resources/icons/ShowWorkingSets.gif"
               label="%action.name.showWorkingSets"
               style="toggle"
               tooltip="%action.tooltip.showWorkingSets">
         </command>
        <!-- Edit Working Sets -->
         <command
               commandId="com.sap.mi.tools.mmdeploy.commands.editWorkingSets"
               label="%action.name.editWorkingSets"
               tooltip="%action.tooltip.editWorkingSets">
         </command>
      </menuContribution>
	<!-- Toolbar: group.filter -->
      <menuContribution
            locationURI="toolbar:com.sap.mi.views.MmDeployment?after=group.filter">
        <!-- Show Working Sets -->
         <command
               commandId="com.sap.mi.tools.mmdeploy.commands.showWorkingSets"
               icon="resources/icons/ShowWorkingSets.gif"
               label="%action.name.showWorkingSets"
               style="toggle"
               tooltip="%action.tooltip.showWorkingSets">
         </command>
      </menuContribution>
	<!-- Toolbar: group.end -->
      <menuContribution
            locationURI="toolbar:com.sap.mi.views.MmDeployment?after=group.end">
		<!-- Refresh -->
         <command
               commandId="org.eclipse.ui.file.refresh"
               icon="resources/icons/Refresh.gif"
               label="%action.name.refresh"
               tooltip="%action.tooltip.refresh">
         </command>
      </menuContribution>
   </extension>

<!-- ======================================================================================= -->
<!-- Key Bindings				                                                             -->
<!-- ======================================================================================= -->
   <extension
         point="org.eclipse.ui.bindings">
     <!-- Open Deployment View -->
      <key
            sequence="M2+M3+Q M"
            commandId="com.sap.mi.views.MmDeployment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

</plugin>
