<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.hpi.sam.petriNet.presentation.PetriNetModelWizardID"
            name="%_UI_PetriNetModelWizard_label"
            class="de.hpi.sam.petriNet.presentation.PetriNetModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PetriNetModelFile.gif">
         <description>%_UI_PetriNetModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.hpi.sam.petriNet.presentation.PetriNetEditorID"
            name="%_UI_PetriNetEditor_label"
            icon="icons/full/obj16/PetriNetModelFile.gif"
            extensions="petrinet"
            class="de.hpi.sam.petriNet.presentation.PetriNetEditor"
            contributorClass="de.hpi.sam.petriNet.presentation.PetriNetActionBarContributor">
      </editor>
   </extension>

</plugin>
