<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Furcas Language Workbench"
            id="com.sap.furcas.ide.projectwizard">
      </category>
      <wizard
            name="Create a FURCAS project"
            icon="icons/furcasdeath.gif"
            category="com.sap.furcas.ide.projectwizard"
            class="com.sap.furcas.ide.projectwizard.wizards.FurcasWizard"
            id="com.sap.furcas.ide.projectwizard.wizards.FurcasWizard"
            project="true">
      </wizard>
   </extension>
   
      <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Furcas Wizard Action Set"
            visible="true"
            id="button.actionSet">
         <action
               label="Create a FURCAS project"
               icon="icons/furclipse_transparent_16.png"
               class="com.sap.furcas.ide.projectwizard.wizards.FurcasWizardWorkbenchWindowActionDelegate"
               tooltip="Create a FURCAS project"
               toolbarPath="sampleGroup"
               id="button.actions.StartFurcasWizard">
         </action>
      </actionSet>
   </extension>

</plugin>
