<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
<extension-point id="com.sap.furcas.ide.editor.autoEditing" name="Matching Config for AutoEdit Actions" schema="schema/autoEditConfiguration.exsd"/>
   <extension-point id="com.sap.furcas.ide.editor.folding" name="Folding config" schema="schema/folding.exsd"/>
   <extension-point id="com.sap.furcas.ide.editor.bracketMatching" name="Matching Bracket Highlighting" schema="schema/matchingBracketsConfiguration.exsd"/>
 <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="com.sap.furcas.ide.editor.document.CtsHistoryDocumentProvider"
            id="com.sap.furcas.ide.editor.document.CtsHistoryDocumentProvider"
            inputTypes="com.sap.furcas.ide.editor.document.ModelEditorInput">
      </provider>
   </extension>
 <extension
       point="org.eclipse.ui.navigator.linkHelper">
    <linkHelper
          class="com.sap.furcas.ide.editor.navigator.LinkHelper"
          id="com.sap.furcas.ide.editor.navigator.LinkHelper">
       <editorInputEnablement>
          <instanceof
                value="com.sap.furcas.ide.editor.document.ModelEditorInput">
          </instanceof>
       </editorInputEnablement>
       <selectionEnablement>
          <instanceof
                value="com.sap.ide.treeprovider.INodeExplorer">
          </instanceof>
       </selectionEnablement>
    </linkHelper>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
       <includes>
          <contentExtension
                pattern="com.sap.ide.cts.editor.view.navigator.LinkHelper">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension point="org.eclipse.core.resources.markers" id="link_highlight" name="LinkHighlight">
        <super type="org.eclipse.core.resources.textmarker"/>
  </extension>
   <extension point="org.eclipse.core.resources.markers" id="partition_highlight" name="partitionHighlight">
        <super type="org.eclipse.core.resources.textmarker"/>
  </extension>
        
  <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
        name="com.sap.furcas.ide.editor.link_highlight"
                markerType="com.sap.furcas.ide.editor.link_highlight">
      </type>
      <type
        name="com.sap.furcas.ide.editor.partition_highlight"
                markerType="com.sap.furcas.ide.editor.partition_highlight">
      </type>
 </extension>
 <extension
     point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
                annotationType="com.sap.furcas.ide.editor.link_highlight"
            label="Selection from tree"
            textPreferenceKey="link_highlightIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="linkHighlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="link_highlightInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="link_highlightInVerticalRuler"
            verticalRulerPreferenceValue="true"
            colorPreferenceKey="link_highlightIndicationColor"
            colorPreferenceValue="243,243,21"
            presentationLayer="3"
            showInNextPrevDropdownToolbarActionKey="showLink_highlightInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isLink_highlightGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isLink_highlightGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
     </specification>
     </extension>
     <extension
     point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
                annotationType="com.sap.furcas.ide.editor.partition_highlight"
            label="Other partition"
            textPreferenceKey="partition_highlightIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="partitionHighlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="partition_highlightInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="partition_highlightInVerticalRuler"
            verticalRulerPreferenceValue="true"
            colorPreferenceKey="partition_highlightIndicationColor"
            colorPreferenceValue="206,244,207"
            presentationLayer="2"
            showInNextPrevDropdownToolbarActionKey="showPartition_highlightInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isPartition_highlightGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isPartition_highlightGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
     </specification>
     </extension>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.sap.furcas.ide.editor.furcasMenu">
         <menu
               id="furcasmenu"
               label="FURCAS"
               path="additions">
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="com.sap.furcas.ide.editor.action.TextBlockHouseKeepingAction"
               enablesFor="+"
               id="com.sap.furcas.ide.editor.CleanUpTextBlocks"
               label="Clean-up TextBlocks"
               menubarPath="furcasmenu/separator">
         </action>
      </objectContribution>
   </extension>
     <extension
           point="org.eclipse.ui.navigator.navigatorContent">
        <actionProvider
              class="com.sap.furcas.ide.editor.ActionProviderContainmentTree"
              id="com.sap.furcas.ide.editor.ActionProviderContainmentTree">
           <enablement>
              <or>
                 <instanceof
                       value="com.sap.ide.treeprovider.INodeExplorer">
                 </instanceof>
              </or>
           </enablement>
        </actionProvider>
     </extension>
     <extension
           point="org.eclipse.ui.navigator.viewer">
        <viewerActionBinding
              viewerId="org.eclipse.ui.navigator.ProjectExplorer">
           <includes>
              <actionExtension
                    pattern="com.sap.furcas.ide.editor.ActionProviderContainmentTree">
              </actionExtension>
           </includes>
        </viewerActionBinding>
     </extension>
</plugin>
