<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="MDT_OCL_API_Base_Line" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.examples.feature.group" version="3.0.2.R30x_v201101181635-86-7aF9Rn28mFQj3xjxEv38kn"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="3.0.2.R30x_v201101181635-7J-7A8j_CDZUhIyiEJYRHlnWupBh"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
</target>
