<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Main.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>opportunityServlet</servlet-name>
    <servlet-class>com.sap.opportunity.ui.server.OpportunityServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>opportunityServlet</servlet-name>
    <url-pattern>/main/opportunity</url-pattern>
  </servlet-mapping>

</web-app>
