<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://de.hpi.sam.bp2009.solution.events"
            class="events.EventsPackage"
            genModel="model/events.genmodel"/>
   </extension>

</plugin>
