<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007,2008 Harman/Becker Automotive Systems GmbH and others.
  
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
     Daniel Weber - initial API and implementation
     Lucas Bigeardel - IP integration

  $Id: plugin.xml,v 1.6 2009/05/06 13:16:53 jlescot Exp $
-->
<plugin>

	<extension point="org.eclipse.core.resources.builders" id="genModelBuilder" name="EMF GenModel Builder">
		<builder hasNature="true">
			<run class="org.eclipse.emf.ecoretools.codegen.builder.genmodelBuilder.GenModelBuilder"/>
		</builder>
	</extension>

	<extension point="org.eclipse.core.resources.natures" id="emfProjectNature" name="EMF Project Nature">
		<runtime>
			<run class="org.eclipse.emf.ecoretools.codegen.builder.genmodelBuilder.EMFProjectNature"/>
		</runtime>
		<builder id="org.eclipse.emf.ecoretools.codegen.genModelBuilder"/>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.emf.codegen.builder.contribution1"
			adaptable="true"
			objectClass="org.eclipse.core.resources.IProject"
			nameFilter="*">
			<action
				id="org.eclipse.emf.codegen.builder.addRemoveNatureAction"
				label="%enable.emf.nature"
				class="org.eclipse.emf.ecoretools.codegen.builder.genmodelBuilder.ToggleNatureAction"
				menubarPath="additions"
				enablesFor="+">
			</action>
		</objectContribution>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.emf.ecoretools.codegen.builder.EmfBuilderPrefsInitializer"/>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.eclipse.emf.codegen.builder.emfBuilderPropertyPage"
			class="org.eclipse.emf.ecoretools.codegen.builder.ui.ProjectPropertyPage"
			name="%emf.builder">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
	</extension>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image
			id="org.eclipse.emf.codegen.nature.image"
			icon="icons/ovr16/enature_ovr.gif"
			natureId="org.eclipse.emf.ecoretools.codegen.emfProjectNature"/>
	</extension>

</plugin>
